html {
	color-scheme: light dark;

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

html,
body {
	scrollbar-gutter: auto;
}

html[data-theme='theme-light'] {
	--text-color: #151515;
	--text-filter: rgba(21, 21, 21, 0.8);
	--background: rgba(255, 255, 255, 0.9);
	--input-border: #151515;
	--input-text: #151515;
	--add-button: transparent;
	--add-button-border: #151515;
	--shadow: 2px 4px 4px 0px;
	--scroll-color: #151515 rgba(0, 0, 0, 0.2);
}

html[data-theme='theme-dark'] {
	--text-color: #ffffff;
	--text-filter: rgba(255, 255, 255, 0.8);
	--background: #151515;
	--input-border: #ffffff;
	--input-text: #ffffff;
	--add-button: #ffffff;
	--add-button-border: #ffffff;
	--shadow: 2px 4px 4px 0px rgba(255, 255, 255, 0.2);
	--scroll-color: #ffffff;
}
