html {
	color-scheme: light dark;

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

html,
body {
	scrollbar-gutter: auto;
}

body {
	// Нет отскока страницы при скролле вверх/вниз
	-ms-scroll-chaining: none;
	overscroll-behavior: none;
}
