@import '@/shared/styles/vars';

.modal {
	position: relative;
	max-width: 724px;
	min-height: 150px;
	margin: auto;
	padding: 20px;
	background-color: $white;
	border-radius: 26px;
}

.title {
	color: $main;
	text-align: center;
	font-size: 24px;
	line-height: 30px;
}

.link {
	margin-top: 30px;
	color: rgba($color: $main, $alpha: 0.8);
	font-family: Overpass;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}

.title--small {
	font-size: 15px;
}
