.modal {
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 10px 20px;
	background-color: $white;
	border-radius: 26px;
}

.title {
	color: $main;
	text-align: center;
	font-size: 24px;
	line-height: 30px;
	@include respond-to($mobile) {
		font-size: 20px;
	}
}

.link {
	margin-top: 30px;
	color: rgba($color: $main, $alpha: 0.8);
	font-family: Overpass;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	@include respond-to($mobile) {
		font-size: 16px;
	}
}
