root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[**.{js, jsx, ts, tsx}]
indent_style = tab
indent_size = 1
end_of_line = lf

[**.{css, scss}]
indent_style = tab
indent_size = 1
end_of_line = lf

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
