.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	
	background-color: $main;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	max-width: 470px;
	width: 100%;
	border-radius: 20px;

	background-color: $white;
	padding: 45px 32px;
}

.input {
	padding: 15px;
	margin: 10px 0px;

	width: 100%;
	border-radius: 20px;

	font-family: Overpass;
	font-size: 20px;
	font-weight: 400;
}

.button {
	margin: 10px 0px;
	padding: 15px;

	max-width: 350px;
	width: 100%;
	border-radius: 20px;
	border: none;
	background-color: $green;

	font-family: Overpass;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0em;

	cursor: pointer;
}

.validErorr {
	color: $pink;
	text-align: center;
}

.passwordInput {
	padding: 15px;
	margin: 10px 0px;

	max-width: 350px;
	width: 100%;
	border-radius: 20px;

	font-family: Overpass;
	font-size: 20px;
	font-weight: 400;
}

.inputWrapper {
	display: flex;
	position: relative;
	max-width: 350px;
	width: 100%;
}

.passwordHide {
	position: absolute;
	right: 20px;
	top: 29px;
	cursor: pointer;
}
