@import '@/shared/styles/vars.scss';

.darklink {
	cursor: pointer;
	color: rgba(0, 0, 0, 0.3);
	z-index: 2;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 60px 60px 60px;
	transition: all 0.2s;
}

.darklink:hover {
	color: rgba(0, 0, 0, 0.5);
}
