.add {
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1;

	width: 45px;
	height: 45px;
	padding: 0;
	border: 1px solid var(--add-button-border);
	border-radius: 12px;
	background: var(--add-button);
	transition: 0.3s ease;
	box-shadow: none;

	&:hover,
	&:active {
		box-shadow: var(--shadow);
	}

	&:focus {
		box-shadow: var(--shadow);
	}

	&:disabled {
		background-color: $white-4;
		border-color: $white-4;
	}
}
