.add {
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1;
	background: transparent;
	border: 0;
	transition: -webkit-filter 0.2s linear;

	&:hover {
		-webkit-filter: drop-shadow(2px 4px 4px #ffffff33);
		filter: drop-shadow(2px 4px 4px #ffffff33);
	}

	&:focus {
		-webkit-filter: drop-shadow(2px 4px 4px #ffffff33);
		filter: drop-shadow(2px 4px 4px #ffffff33);
		outline: none;

		& .svg {
			border: 2px solid $main-hover;
		}
	}
}

.rect {
	fill: $white;
}

.svg {
	width: 100%;
	border-radius: 12px;
}
