.add {
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1;

	width: 45px;
	height: 45px;
	padding: 0;
	border: 1px solid $white;
	border-radius: 12px;
	background: $white;
	transition: 0.3s ease;
	box-shadow: none;

	&:hover,
	&:active {
		box-shadow: $shadow-white;
	}

	&:focus {
		box-shadow: $shadow-white;
	}

	&:disabled {
		background-color: $white-4;
		border-color: $white-4;
	}
}
