.updateSection {
	position: relative;
	background-color: $green;
	width: 100%;
	margin-top: 0px;
}

.title {
	color: $main;
	text-align: center;
	font-size: 32px;
	line-height: 41px;
	font-family: Overpass;
	padding-top: 30px;
}

.deleteButton {
	width: 24px;
	height: 24px;
	padding: 0;
	position: absolute;
	top: 30px;
	right: 40px;
	background-color: transparent;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	outline: none;
	transition: 0.3s ease;

	&:hover,
	&:focus {
		transition: 0.3s ease;
		background-color: $dark-4;
	}
}

.textAreaSection {
	min-width: 90%;
	min-height: 100%;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
}

.textArea {
	width: 100%;
	max-height: 500px;
	height: 100%;
	background-color: transparent;
	color: $main;
	border: 1px solid $main;
	border-radius: 20px;
	padding-left: 20px;
	padding-top: 20px;
	font-family: Overpass;
	font-size: 20px;
	color: $main;

	&:focus::placeholder {
		color: transparent;
	}
}
