.navigation_container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation_close_img {
	cursor: pointer;
	position: absolute;
	right: 5%;
	top: 50%;
	padding-right: 10px;
}
