@keyframes closeAnimate {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-150%);
	}
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	padding: 20px;
	justify-content: center;
	align-items: center;
	background-color: var(--background);
	transition: all 0.5s linear;
	z-index: 2;
}

.modalContent {
	position: absolute;
	display: block;
	text-align: center;
	align-items: center;
	transition: all 0.2s;
}
