@import '@/shared/styles/vars.scss';

@keyframes anifirst {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-150%);
	}
}

@keyframes anisecond {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(0);
	}
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $main;
	z-index: 2;
	animation: anifirst 0.7s forwards;
}

.modalActive {
	animation: anisecond 0.7s forwards;
}

.modalContent {
	display: block;
	text-align: center;
	transition: all 0.2s;
	// align-items: center;
	// vertical-align: middle;
	// @include respond-to($tablet) {
	// 	min-width: 400px;
	// 	width: 100%;
	// }
	// @include respond-to($mobile) {
	// 	min-width: 300px;
	// }
}
