@import '@/shared/styles/vars.scss';

.modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $main;
	z-index: 2;
	padding: 30px;
	animation: anifirst 0.7s forwards;
	@keyframes anifirst {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-150%);
		}
	}
}

.modalActive {
	animation: anisecond 0.7s forwards;
	@keyframes anisecond {
		0% {
			transform: translateX(-150%);
		}
		100% {
			transform: translateX(0);
		}
	}
}

.modalContent {
	max-width: 1024px;
	min-width: 560px;
	max-height: 768px;
	color: $main;
	background-color: $white;
	border-radius: 20px;
	text-align: center;
	justify-content: center;
	transition: all 0.2s;
	@include respond-to($tablet) {
		min-width: 400px;
		width: 100%;
	}
	@include respond-to($mobile) {
		min-width: 300px;
	}
}
