@import "../../shared/styles/vars";

.sidebar{
  max-width: 250px;
  width: 100%;
	display: flex;
	padding: 30px 0;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}
active {
	border-radius: 20px 0px 0px 20px;
	width: 240px;
}
.header{
	padding: 0 10px;
}
.title{
  color: #fff;
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	margin: 20px auto 0;
}
.notes{
	margin-top: 30px;
	width: 100%;
}
