$white: #ffffff;
$white-hover: #ffffff26;
$white-90t: #ffffffe5;

$main: #151515;
$main-hover: #1515150f;
$pink: #ff9090;
$pink-hover: #ff7a7a;
$dark-pink: #905454;
$green: #d4ff90;
$green-hover: #c5ff69;
$white-2: rgba(255, 255, 255, 0.9);
$white-3: rgba(255, 255, 255, 0.8);
$white-4: rgba(255, 255, 255, 0.6);
$white-5: rgba(255, 255, 255, 0.15);

$main: #151515;
$dark-2: rgba(21, 21, 21, 0.8);
$dark-3: rgba(21, 21, 21, 0.6);
$dark-4: rgba(21, 21, 21, 0.06);
$dark-5: rgba(20, 20, 20, 0.4);
$dark-6: rgba(0, 0, 0, 0.2);

$pink: #ff9090;
$pink-2: #ff7a7a;
$green: #d4ff90;
$green-2: rgba(182, 233, 101, 0.36);
$green-3: #c5ff69;

$button-active: #c5ff69;
$button-disabled: rgba(212, 255, 144, 0.6);
$shadow-button: 2px 4px 4px 0px rgba(182, 233, 101, 0.6);
$shadow-white: 2px 4px 4px 0px rgba(255, 255, 255, 0.2);
$shadow-dark: 2px 4px 4px 0px $dark-6;

$overpass: 'Overpass';
$radius-modal: 26px;
$radius-modal-2: 20px;
$radius-note: 20px;
$radius-input: 20px;
$radius-input-2: 12px;
$radius-more: 12px;
$small: 'small';
$mobile: 'mobile';
$tablet: 'tablet';
$desktop: 'desktop';
$large: 'large';

$breakpoints: (
	small: (
		max-width: 320px,
	),
	mobile: (
		max-width: 560px,
	),
	tablet: (
		max-width: 768px,
	),
	desktop: (
		max-width: 1024px,
	),
	large: (
		max-width: 1200px,
	),
);

@mixin respond-to($breakpoint) {
	$raw-query: map-get($breakpoints, $breakpoint);

	@if $raw-query {
		$query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));

		@media #{$query} {
			@content;
		}
	} @else {
		@error 'Не указано значение для `#{$breakpoint}`. '
			+ 'Пожалуйста, убедитесь, что точка останова объявлена в карте `$breakpoints`.';
	}
}

@mixin button($width: 260px) {
	display: block;
	min-width: $width;
	border: none;
	border-radius: 20px;
	padding: 20px;

	font-family: $overpass;
	font-size: 20px;
	line-height: 25px;
	background-color: $green;
	color: $main;
	cursor: pointer;

	transition: 0.6s ease;
	text-decoration: none;
	box-shadow: none;

	&:hover,
	&:focus {
		transition: 0.6s ease;
		box-shadow: $shadow-button;
	}

	&:active {
		transition: 0.6s ease;
		background-color: $button-active;
		box-shadow: none;
	}

	&:disabled {
		transition: 0.6s ease;
		background-color: $button-disabled;
		box-shadow: none;
	}
}
