@keyframes wrapperAnimate {
	0% {
		transform: translateY(-150%);
	}
	100% {
		transform: translateY(0);
	}
}

.modalWrapper {
	display: none;
	min-width: 584px;
	max-width: 1024px;
	min-height: 178px;
	max-height: 768px;
	border-radius: 26px;
	padding: 30px;
	background-color: white;
	color: $main;
	@include respond-to($tablet) {
		min-width: 500px;
		max-height: 700px;
		min-height: 162px;
	}
	@include respond-to($mobile) {
		min-width: 320px;
		max-height: 470px;
		min-height: 110px;
		padding: 20px;
	}
	@include respond-to($small) {
		min-width: 250px;
		max-height: 470px;
	}
}

.wrapperActive {
	animation: wrapperAnimate 0.7s forwards;
	display: flex;
	align-items: center;
}

.displayBlock {
	width: 100%;
	display: block;
}
