.layout {
	display: flex;
	justify-content: space-between;
	padding-left: 60px;
	padding-right: 40px;
	margin-top: 50px;
}

.buttonsGroup {
	display: flex;
	gap: 20px;
}

.icon {
	width: 24px;
	height: 24px;
	padding: 0;
	background-color: transparent;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	transition: 0.3s ease;

	&:hover,
	&:focus,
	&:active {
		background-color: $dark-4;
		transition: 0.3s ease;
	}
}

.buttonSave {
	background-color: transparent;
	border: none;
	color: $main;
	font-family: $overpass;
	font-size: 20px;
	line-height: 25px;
	cursor: pointer;
}
