@import '@/shared/styles/vars.scss';

.errorLink {
	color: #c5ff69;
	text-decoration: none;
	border: none;
	font-size: 24px;
	@include respond-to($tablet) {
		font-size: 20px;
	}
	@include respond-to($mobile) {
		font-size: 18px;
	}
}

.errorMessege {
	margin-top: 20px;
}

.errorSvg {
	width: 480px;
	@include respond-to($tablet) {
		width: 380px;
	}
	@include respond-to($mobile) {
		width: 250px;
	}
}
