@import '@/shared/styles/vars.scss';

.modalLink {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px;
	margin-bottom: 0;
	text-decoration: none;
	transition: all 0.2s;
	cursor: pointer;
	color: rgb(255, 255, 255, 0.6);
	&:hover {
		color: rgb(255, 255, 255, 0.4);
	}
	@include respond-to($tablet) {
		margin: 30px;
	}
}
