@import '@/shared/styles/vars.scss';

.modalLink {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	margin: 30px;
	margin-bottom: 0;
	text-decoration: none;
	transition: all 0.2s;
	cursor: pointer;
	color: $white-4;
	&:hover {
		color: $white-3;
	}
	@include respond-to($tablet) {
		margin: 20px;
		font-size: 18px;
	}
	@include respond-to($mobile) {
		margin: 10px;
		font-size: 16px;
	}
}
