@import '@/shared/styles/vars.scss';

.modalTitle {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	margin: 30px 0;
	margin-top: 60px;
	transition: all 0.2s;
	@include respond-to($tablet) {
		margin-top: 40px;
	}
	@include respond-to($mobile) {
		margin: 30px;
		margin-bottom: 10px;
	}
}
