@import '@/shared/styles/vars.scss';

.modal_button {
	margin: 60px;
	margin-top: 0;
	padding: 18px 134px;
	background-color: $green;
	border-radius: 20px;
	border-color: $green;
	border-style: solid;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.2s;
	&:hover {
		background-color: transparent;
		color: rgba(0, 0, 0, 1);
		border-color: #000;
	}
}
