@import "@/shared/styles/vars.scss";

.modal {
    position: relative;
    max-width: 950px;
    min-height: 255px;
    margin: auto;
    padding: 20px;
    background-color: $white;
    border-radius: 26px;
}